* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body, html, .page {
    overflow-x: hidden;
    width: 100vw;
}

.page, body {
    background-color: var(--lee-bg-gray);
}

.page {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.page.home {
    width: 100%;
    min-height: 100vh;
    padding: 46px 20px 20px;
}

.pageTitle {
    margin: 0 0 16px;
    font-size: 32px;
    padding-left: 16px;
    font-weight: 400;
}

.pageDesc {
    color: var(--lee-gray);
    text-align: left;
    margin: 0 0 40px;
    font-size: 14px;
    line-height: 1.6;
    padding-left: 16px;
}

.category {
    margin: 24px 0 8px 16px;
    color: var(--lee-gray);
    font-size: 14px;
}

.home .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 0 20px;
    color: #34495e;
    font-weight: 600;
    font-size: 14px;
    height: 40px;
    background-color: var(--lee-bg-white);
    border-radius: 20px;
    transition: opacity .3s;
    text-decoration: none;
}
.home .nav.ok{
    color: var(--lee-disabled);
}
.home .nav i {
    font-size: 14px;
    color: var(--lee-gray);
    font-weight: normal;
}

.pageFooter {
    padding-top: 40px;
    padding-bottom: 32px;
    text-align: center;
    color: var(--lee-gray);
    font-size: 13px;
}

.pageFooter img {
    height: 20px;
}

.page .position {
    position: sticky;
    position: -webkit-sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    background-color: var(--lee-bg-white);
    top: 0;
    z-index: 99;

}

.page .position .title {
    font-size: 17px;
    font-weight: 600;
}

.page .position i {
    font-size: 20px;
    position: absolute;
    left: 12px;
    top: 50%;
    margin-top: -10px;
    color: var(--lee-gray);
}
::-webkit-scrollbar {
    width: 0;
    background: transparent
}
